.button {
  background-color: teal;
  color: rgb(157, 22, 22);
  border-radius: 4px;
  width: 75px;
  cursor: pointer;
}
.button:not(:last-child) {
    margin-right: 10px;
  }
.button:hover {
    background-color: blue;
  }